<html>
  <title>Imagi: {{title}}</title>
  <body>
    <h1>{{title}}</h1>
    <i>
      <h3>{{instructions}}</h3>
    </i>
    <hr />
    <p>
    	<a href="{{help_url}}" target="_blank">{{help_text}}</a>
    <footer>
      <small>Rendered by Handlebars</small>
    <footer>
  </body>
<html>