<html>
  <title>Imagi: {{title}}</title>
  <body>
    <h1>{{title}}</h1>
    <i>
      <h3>{{instructions}}</h3>
    </i>
    <hr />
		<form method='post' action='/upload' enctype='multipart/form-data'>
		<input type='file' name='image'/>
		<br />
		<label for='iN'>Image Name</label>
		<input type='text' name='imageName' id='iN' />
		<br />
		<label for='iD'>Description</label>
		<textarea rows='4' cols='50' name='imageDesc' id='iD'></textarea>
		<input type='submit' /></form>
    <hr />
    <p>
    	<a href="{{help_url}}" target="_blank">{{help_text}}</a>
	</p>
  </body>
<html>